.info{
	border: 1px solid black;
	height: 20px;
	width: 604px;
	display: inline-block;
	background: yellow;
	text-align: center;
}

.monopoly2{
	float: left;
	height: 449px;
	width: 175px;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
}

.monopoly1{
	float: left;
	height: 449px;
	width: 250px;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.monopoly3{
	height: 449px;
	width: 175px;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
}
.container{
	overflow: hidden;
	clear: both;
	height: 450px;
}







 





/*.titulo{
	background-color: yellow;
	border: 1px solid black;
	text-align: center;
	overflow: hidden;
	display: block;
	width: 600px;
	float: left;
}

.text{
	display: block;
	border: 1px solid black;
	width: 258px;
	height: 400px;
	float:left;
	left: 171px;
	bottom: 1px;
	outline: 1px solid red;
	text-align: center;
	text-align: justify-all;
}

.monopoly1{
	display: block;
	width: 170px;
	height: 400px;
	border: 1px solid black;
	position: relative;
	bottom: 403px;
}

.monopoly2{
	display: block;
	width: 170px;
	height: 400px;
	border: 1px solid black;
	position: relative;
	bottom: 805px;
	left: 430px;
}

.foto1{
	margin: 2px;
}

.foto2{
	margin: 2px;
}

.footer{
	background-color: yellow;
	border: 1px solid black;
	text-align: center;
	display: block;
	width: 600px;
	position: relative;
	bottom: 806px;
}

h3 {
	text-align: center;
}

/*.info{
	float: left;
	outline: 1px solid blue;
	display: block;
	height: 30px;
	width: 600px;
}

.texto{
	float: left;
	outline: 1px solid red;
	height: 600px;
	width: 400px;
	margin-top: 50px;
}*/